@{
    ViewData["Title"] = "Registration Confirmation";
}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<h1>@ViewBag.Message</h1>

<div>
    <a asp-action="Login" asp-controller="Login" class="btn btn-primary">Login</a>
</div>
