@model CA2V6CP.Models.Register

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<head> 
<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="text-center">Register</h1>
<form asp-action="ProcessRegistration" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" style="margin-right: 10px;">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
</form>
</div>
</div>
</head>

