@model TeeTimeBooking

@{
    ViewData["Title"] = "Create";
    var golfers = ViewBag.Golfers as List<Golfer>;
}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<h1>Create a TeeTimeBooking</h1>

@if (golfers != null)
{
    <div>
        <h4>Golfers</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Handicap</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var golfer in golfers)
                {
                    <tr>
                        <td>@golfer.Name</td>
                        <td>@golfer.Handicap</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<h4>TeeTimeBooking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" type="datetime-local" step="900" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Name" class="control-label"></label>
                <input asp-for="Player1Name" class="form-control" />
                <span asp-validation-for="Player1Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Handicap" class="control-label"></label>
                <input asp-for="Player1Handicap" class="form-control" />
                <span asp-validation-for="Player1Handicap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Name" class="control-label"></label>
                <input asp-for="Player2Name" class="form-control" />
                <span asp-validation-for="Player2Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Handicap" class="control-label"></label>
                <input asp-for="Player2Handicap" class="form-control" />
                <span asp-validation-for="Player2Handicap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player3Name" class="control-label"></label>
                <input asp-for="Player3Name" class="form-control" />
                <span asp-validation-for="Player3Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player3Handicap" class="control-label"></label>
                <input asp-for="Player3Handicap" class="form-control" />
                <span asp-validation-for="Player3Handicap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player4Name" class="control-label"></label>
                <input asp-for="Player4Name" class="form-control" />
                <span asp-validation-for="Player4Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player4Handicap" class="control-label"></label>
                <input asp-for="Player4Handicap" class="form-control" />
                <span asp-validation-for="Player4Handicap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#start-time-input').change(function () {
                var startTime = $('#start-time-input').val();
                var minutes = parseInt(startTime.substring(3));
                if (minutes % 15 != 0) {
                    $('#start-time-validation').text('Bookings can only be made every 15 minutes.');
                } else {
                    $('#start-time-validation').text('');
                }
            });
        });
    </script>
    }